@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

html {
  scrollbar-gutter: stable;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: #bce4ed;
  border-radius: 10px;
  border: 2px solid #a6d6e0;
}

.mh-button {
  @apply py-2 px-4 rounded-lg bg-blue-400 text-white w-60;
}

.pageHeading {
  @apply text-center pb-4 uppercase text-blue-800;
}
